@import '~antd/dist/antd.css';

#root {
  margin: 40px;
}

.ant-form {
  min-width: 200px;
  max-width: 300px;
  margin: 0  auto 40px;
  padding: 20px;
  border: 2px solid black;
  border-radius: 1em
}

.ant-form-item-label {
  font-weight: bold;
}

.ant-input-number {
  width: 100%;
}

.ant-btn-primary {
  display: block;
  margin: auto;
  font-weight: bold;
}

.results-ctn {
  max-width: 750px;
  margin: auto;
  padding: 20px;
  background: #edf6ff;
  border: 1px solid #bcbcbc;
  border-radius: 1em
}

